.UpdateTask {
    position: absolute;
    background-color: rgb(3, 3, 3, 0.8);
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;


}

.ut {
    margin-top: 35vh;
    width: 30%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   


}

